.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.card {
  width: 100%;
  max-width: 300px;
  &__title {
    text-align: center;
  }
}

.login-form {
  display: flex;
  flex-direction: column;

  &__input-field {
  }
}
