<div class="wrapper">
  <mat-card class="card">
    <div class="card__title mat-h1">Войти в систему</div>
    <form
      class="login-form card__form"
      (ngSubmit)="onSubmit()"
      #loginForm="ngForm"
    >
      <mat-form-field class="login-form__input-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="emailFormControl" />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Введите корректный email адрес
        </mat-error>

        <mat-error *ngIf="emailFormControl.hasError('required')">
          Это <strong>обязательное </strong>поле
        </mat-error>
      </mat-form-field>
      <mat-form-field class="login-form__input-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="passwordFormControl" />
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
          Минимальная длина пароля 6
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Это <strong>обязательное </strong> поле
        </mat-error>
      </mat-form-field>
      <div class="login-from__btn-submit">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="
            !emailFormControl.valid ||
            !passwordFormControl.valid ||
            isEnabledBtn
          "
        >
          Войти
        </button>
      </div>
    </form>
  </mat-card>
</div>
