<div class="link-details" *ngIf="!(isLoading$ | async)">
  <div class="link-details__wrapper">
    <div class="link-details__card card">
      <mat-card>
        <div class="card__title">
          <span class="mat-h1">Ваша сокращенная ссылка:</span>
        </div>
        <div class="card__short-link">
          <a
            (click)="onClickLink()"
            (auxclick)="onClickLink()"
            href="{{ link.newLink }}"
            target="blank"
            class="mat-display-1"
            >{{ link.newLink }}</a
          >
        </div>
        <form
          class="card__edit-form form"
          (ngSubmit)="onSubmit()"
          [formGroup]="form"
          *ngIf="isEdit"
        >
          <mat-form-field class="form__input-field">
            <mat-label>Описание</mat-label>
            <input matInput type="text" formControlName="description" />

            <mat-error> Это обязательное поле </mat-error>
          </mat-form-field>
          <mat-form-field class="form__input-field">
            <mat-label>Тэги</mat-label>
            <input matInput type="text" formControlName="tags" />

            <mat-error> Это обязательное поле </mat-error>
          </mat-form-field>
          <div class="form__btns">
            <button
              type="submit"
              [disabled]="form.invalid"
              mat-raised-button
              color="primary"
            >
              Сохранить
            </button>
            <button mat-raised-button color="warn" (click)="showEditForm()">
              Отмена
            </button>
          </div>
        </form>

        <div class="card__details-link">
          <div class="card__description-title" *ngIf="!isEdit">
            <span class="mat-h2">Описание:</span>

            <button
              (click)="showEditForm()"
              mat-icon-button
              color="primary"
              *ngIf="
                (currentUser$ | async) &&
                (currentUser$ | async).id == link.UserId
              "
              data-btn="desc"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="card__description-text value" *ngIf="!isEdit">
            <span> {{ link.description }}</span>
          </div>

          <div class="card__tags-title" *ngIf="!isEdit">
            <span class="mat-h2">Тэги:</span>
            <button
              (click)="showEditForm()"
              mat-icon-button
              color="primary"
              *ngIf="
                (currentUser$ | async) &&
                (currentUser$ | async).id == link.UserId
              "
              data-btn="tag"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="card__tags-list" *ngIf="!isEdit">
            <div class="card__tags-list-wrapper">
              <a
                mat-stroked-button
                color="primary"
                *ngFor="let tag of link.Tags"
                routerLink="/tag/{{ tag.name }}"
              >
                {{ tag.name }}
              </a>
            </div>
          </div>
          <div class="card__date-title">
            <span class="mat-h2">Дата создания:</span>
          </div>
          <div class="card__date-value">
            <span>{{ link.createdAt | date }}</span>
          </div>
          <div class="card__originlink-title">
            <span class="mat-h2">Ссылка:</span>
          </div>
          <div class="card__originLink-value">
            <span>{{ link.originLink }}</span>
          </div>
        </div>

        <div class="card__clicks">
          <span class="card__clicks-title mat-h1">Количетсво переходов</span>
          <span class="card__clicks-value mat-display-2">{{
            link.clicks
          }}</span>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<app-spiner *ngIf="isLoading$ | async"> </app-spiner>
