.link-details {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.card {
  margin-bottom: 2rem;

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__short-link {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__details-link {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin-bottom: 2rem;
    @media (max-width: 768px) {
      grid-template-columns: 100%;
      justify-items: center;
      row-gap: 1rem;
    }
  }

  &__clicks {
    text-align: center;

    &-title {
      margin-bottom: 1rem;
    }

    &-value {
      display: flex;
      flex-direction: column;
    }
  }
}

.value {
  align-self: center;
  white-space: normal;
}
