<div class="create-link">
  <div class="create-link__wrapper">
    <mat-card class="card create-link__card">
      <div class="card__title">
        <span class="mat-h2">Сокращение ссылки</span>
      </div>
      <div class="card__form-wrpper">
        <form
          class="card__form from"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >
          <mat-form-field class="form__input-field">
            <mat-label>Ссылка</mat-label>
            <input matInput type="text" formControlName="originLink" />
            <mat-error
              *ngIf="
                form.get('originLink').hasError('pattern') &&
                !form.get('originLink').hasError('required')
              "
            >
              Введите правильную ссылку
            </mat-error>
            <mat-error *ngIf="form.get('originLink').hasError('required')">
              Это <strong>обязательное </strong>поле
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form__input-field">
            <mat-label>Описание</mat-label>
            <input matInput type="text" formControlName="description" />
            <mat-error> Это <strong>обязательное </strong>поле </mat-error>
          </mat-form-field>
          <mat-form-field class="form__input-field">
            <mat-label>Тэги</mat-label>
            <input
              matInput
              type="text"
              formControlName="tags"
              placeholder="Введите тэги через пробел"
            />
          </mat-form-field>
          <div class="form__btn-submit">
            <button
              [disabled]="form.invalid || form.disabled"
              type="submit"
              class="form__btn-submit"
              mat-raised-button
              color="primary"
            >
              Создать
            </button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
