<div class="wrapper">
  <mat-card class="card">
    <div class="card__title mat-h1">Создать аккаунт</div>
    <form class="login-form card__form">
      <mat-form-field class="login-form__input-field">
        <mat-label>User name</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field class="login-form__input-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" />
      </mat-form-field>
      <mat-form-field class="login-form__input-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>
      <div class="login-from__btn-submit">
        <button mat-flat-button color="primary">Создать</button>
      </div>
    </form>
  </mat-card>
</div>
