<div class="my-links">
  <div class="my-links__title">
    <span class="mat-display-1">Ваши ссылки:</span>
  </div>
  <div class="my-links__card card">
    <mat-card>
      <div class="card__short-link">
        <span class="mat-h1">short link</span>
      </div>
      <div class="card__description">
        <div class="card__description-title">
          <span class="mat-h2">Описание:</span>
        </div>
        <div class="card__description-text">
          <span
            >ropefje gplkfel l;gkfe;lv ;l'fgdk 'l;vkfd'; ';lvfdm'l; 'vl;dmc
            fl;dkfl l;fkd;lgfd;'l ;l gjd;fl'gj ;lgjmd;fg ;lf'gmdl;' g'l;dfml';
            gdfl;jgmd;fklgj'e gk'jd ;kl gjk;fd jg jd;klj d';lm</span
          >
        </div>
      </div>

      <div class="card__button">
        <button mat-raised-button color="primary" class="card__button-details">
          Подробнее
        </button>
        <button mat-raised-button color="warn" class="card__button-delete">
          Удалить
        </button>
      </div>
    </mat-card>
  </div>
</div>
