<div class="my-links__card card">
  <mat-card>
    <div class="card__short-link">
      <span class="mat-h1">{{ linkData.newLink }}</span>
    </div>
    <div class="card__description">
      <div class="card__description-title">
        <span class="mat-h2">Описание:</span>
      </div>
      <div class="card__description-text">
        <span>{{ linkData.description }}</span>
      </div>
    </div>

    <div class="card__button">
      <a
        routerLink="/link/details/{{ linkData.id }}"
        [queryParams]="{ debug: true }"
        mat-raised-button
        color="primary"
        class="card__button-details"
      >
        Подробнее
      </a>
      <button
        *ngIf="isCanDelete"
        (click)="delete(linkData.id)"
        mat-raised-button
        color="warn"
        class="card__button-delete"
      >
        Удалить
      </button>
    </div>
  </mat-card>
</div>
