<div class="your-stats">
  <div class="your-stats__title">
    <span class="mat-display-1">Ваша статистика</span>
  </div>
  <mat-card class="card">
    <div class="card__count-title">
      <span class="mat-h2">Количество ссылок:</span>
    </div>
    <div class="card__count-value">
      <span class="mat-display-3">10</span>
    </div>
    <div class="card__redirect-title">
      <span class="mat-h2">Количество переходов по вашим ссылкам:</span>
    </div>
    <div class="card__redirect-value">
      <span class="mat-display-3">10</span>
    </div>
  </mat-card>
</div>
