<div class="your-stats" *ngIf="!isLoading; else spinner">
  <div class="your-stats__title">
    <span class="mat-display-1">Ваша статистика</span>
  </div>
  <mat-card class="card">
    <div class="card__count-title">
      <span class="mat-h2">Количество ссылок:</span>
    </div>
    <div class="card__count-value">
      <span class="mat-display-3">{{ stats.countLink }}</span>
    </div>
    <div class="card__redirect-title">
      <span class="mat-h2">Количество переходов по вашим ссылкам:</span>
    </div>
    <div class="card__redirect-value">
      <span class="mat-display-3">{{ stats.countAllRedirect }}</span>
    </div>
  </mat-card>
</div>

<ng-template #spinner>
  <app-spiner></app-spiner>
</ng-template>
