<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <mat-toolbar color="primary" class="header__navbar">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__logo">
              <a class="header__logo-link" routerLink="/main"
                ><span class="mat-h1">ShortLink</span>
              </a>
            </div>
            <div class="header__nav">
              <a routerLink="/content" [queryParams]="{ create: true }"
                >Создать</a
              >
              <a routerLink="/content" [queryParams]="{ myLinks: true }"
                >Мои ссылки</a
              >
              <a href="#" (click)="onLogOut($event)">Выйти</a>
            </div>
          </div>
        </div>
      </mat-toolbar>
    </header>
    <main class="main">
      <div class="container main__container">
        <div class="main__wrapper">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </body>
</html>
